$colors: (
  pr-blue: hsl(246, 80%, 60%),
  pr-work: hsl(15, 100%, 70%),
  pr-play: hsl(195, 74%, 62%),
  pr-study: hsl(348, 100%, 68%),
  pr-exercise: hsl(145, 58%, 55%),
  pr-social: hsl(264, 64%, 52%),
  pr-self-care: hsl(43, 84%, 65%),
  nt-very-dark-blue: hsl(226, 43%, 10%),
  nt-dark-blue: hsl(235, 46%, 20%),
  nt-desaturated-blue: hsl(235, 45%, 61%),
  nt-pale-blue: hsl(236, 100%, 87%),
  nt-white: hsl(0, 100%, 100%),
);
